<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || "Ella Rises" %></title>

    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="/js/lang.js"></script>
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div><img class="nav-logo" src="/images/circleellarises.png" alt="Ella Rises Logo"></div>

        <div class="nav-links">
            <!-- ABOUT -->
            <!-- About with dropdown -->
            <div class="dropdown lang-en">
                <a href="#"><%= lang === 'en' ? 'About' : 'Sobre' %></a>
                <div class="dropdown-content">
                    <a href="/our-mission"><span class="lang-en">
                        <%= lang === 'en' ? 'Our Mission' : 'Nuestra Misión' %></span></a>

                    <a href="/our-team"><span class="lang-en">
                        <%= lang === 'en' ? 'Our Team' : 'Nuestro Equipo' %></span></a>

                    <a href="/board-of-directors"><span class="lang-en">
                        <%= lang === 'en' ? 'Board of Directors' : 'Junta Directiva' %></span></a>
                </div>
            </div>

            <!-- PROGRAMS -->
            <a href="/programs">
            <%= lang === 'en' ? 'Programs' : 'Programas' %></a>

            <!-- EVENTS -->
            <a href="/events">
            <%= lang === 'en' ? 'Events' : 'Eventos' %></a>

            <!-- GET INVOLVED -->
            <a href="/get-involved">
            <%= lang === 'en' ? 'Get Involved' : 'Involúcrate' %></a>

            <!-- PRESS -->
            <a href="/press">
            <%= lang === 'en' ? 'Press' : 'Noticias' %></a>

            <!-- CONTACT -->
            <a href="/contact">
            <%= lang === 'en' ? 'Contact Us' : 'Contáctanos' %></a>

            <% if (!user) { %>

                <!-- Show Login/Register if NOT logged in -->
                <form action="/login" method="GET" class="nav-button">
                    <button type="submit" class="nav-button">
                    <%= lang === 'en' ? 'Login/Register' : 'Iniciar/Registrar' %></a>
                </form>

            <% } else { %>

                <!-- Show User Icon when logged in -->
                <div class="user-icon-container dropdown">
                    <a href="/profile">
                        <i class="fa-solid fa-user"></i> <%= user.name %>
                    </a>
                    <% if (user.level === "M") { %>
                        <div class="dropdown-content">
                        <a href="/dashboard"><span class="lang-en">
                            <%= lang === 'en' ? 'Dashboard' : 'El Tablero de Control' %></span></a>

                        <a href="/logout"><span class="lang-en">
                            <%= lang === 'en' ? 'Logout' : 'Desconectar' %></span></a>
                        </div>
                    <% } %>
                    <% if (user.level === "U") { %>
                        <div class="dropdown-content">
                        <a href="/logout"><span class="lang-en">
                            <%= lang === 'en' ? 'Logout' : 'Desconectar' %></span></a>
                        </div>
                    <% } %>
                </div>

            <% } %>

            <!-- DONATE -->
            <a class="nav-donate lang-en" href="/donate">
            <%= lang === 'en' ? 'Donate' : 'Donar' %></a>
        </div>

        <!-- LANGUAGE TOGGLE -->
        <div class="lang-toggle">
            <a href="/set-lang/en">English</a>
            <a href="/set-lang/es">Español</a>
        </div>
    </nav>
